body,
html {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-size: 100%;
}

.card {

    width: 50% !important;
    border-radius: 18px !important;
}

/* header of card */

.card-header {
    border-top-left-radius: 18px !important;
    border-top-right-radius: 18px !important;
    background: rgb(34, 32, 159);
    background: linear-gradient(153deg, rgba(34, 32, 159, 1) 0%, rgba(0, 212, 255, 1) 100%);
}

.profileImg {
    object-fit: cover;
    cursor: pointer;
}

.profileImg img {
    overflow: hidden;
    border-radius: 50%;
}

/* more button */

.more {
    font-size: 3vw;
    justify-content: end;
}

.more i {
    font-size: 4w;
}

/* floating box */

.floatingbox {
    height: 8vw;
    background-position: 0px -5vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/assets/images/floatTileBg.png);
}

.floatingbox p {
    font-size: 1.5vw;
}

/* chatbox */

.chatbox {
    overflow-y: hidden;
    gap: 1vw;
}

.chatbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

.chatbox::-webkit-scrollbar {
    width: .5vw;
    background-color: #F5F5F5;
}

.chatbox::-webkit-scrollbar-thumb {
    border-radius: .4vw;
    -webkit-box-shadow: inset 0 0 6px rgb(34, 32, 159);
    background: linear-gradient(153deg, rgba(34, 32, 159, 1) 0%, rgba(0, 212, 255, 1) 100%);
    background-color: #555;
}


/*  bot message box */
.bot-message {
    height: fit-content;
    cursor: pointer;
}

.chatbox .bot-message p {
    width: fit-content;
    text-align: left;
    color: #0c98df;
    font-size: 1.2vw;
    border: 1px solid #0c98df;
    border-radius: 25px;
    padding: .5vw 1vw !important;
    margin: 0;
    transition: 0.3s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    overflow: hidden;
    position: relative;
}

.chatbox .bot-message p::after {
    background: rgb(34, 32, 159);
    background: linear-gradient(153deg, rgba(34, 32, 159, 1) 0%, rgba(0, 212, 255, 1) 100%);
    border-radius: 3vw;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-120%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.3s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.chatbox .bot-message p:hover::after {
    transform: translate(0, 0);
}

.chatbox .bot-message p:hover {
    border: 2px solid transparent;
    color: #EEF7FC;
    transform: scale(1.05);
    will-change: transform;
}

/* visitor message box */


.visitor-message {
    height: fit-content;
    cursor: pointer;
}

.chatbox .visitor-message p {
    font-size: 1.2vw;
    width: fit-content;
    text-align: right;
    color: #0c98df;
    position: relative;
    background-color: #f0f2f7;
    border: 1px solid white;
    border-radius: 25px;
    padding: .5vw 1vw !important;
    margin: 0;
    transition: 0.3s transform ease-in-out;
    will-change: transform;
    z-index: 0;
    overflow: hidden;
}

.chatbox .visitor-message p::after {
    background-color: white;
    border-radius: 3vw;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(120%, 0) rotate(10deg);
    transform-origin: bottom right;
    transition: 0.3s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.chatbox .visitor-message p:hover::after {
    transform: translate(0, 0);
}

.chatbox .visitor-message p:hover {
    border: 1px solid transparent;
    color: rgb(34, 32, 159);
    background: linear-gradient(153deg, rgba(34, 32, 159, 1) 0%, rgba(0, 212, 255, 1) 100%);
    transform: scale(1.05);
    will-change: transform;
}

/* bot reply box */

.bot-reply {
    column-gap: 1vw;
}

.bot-reply>p {
    font-size: .8vw !important;
    color: rgba(85, 85, 85, 0.719);
}

/* response rating box */


.responseRating {
    text-align: center;
    color: #0c98df;
    width: fit-content;
    padding: .3vw 2.5vw;
    border-radius: 25px;
    background-color: #f0f2f7;
    position: relative;
}

.responseRating i {
    position: absolute;
    font-size: 1.3vw;
    transition: all 300ms;
}

.responseRating i:hover {
    font-size: 1.7vw;
    padding: 0;
    color: rgb(34, 32, 159);
}

.responseRating .ri-thumb-up-line {
    left: 20%;
    cursor: pointer;
}


.responseRating .ri-thumb-down-line {
    right: 20%;
    cursor: pointer;
}

.dividerLine {
    padding: 0 1vw;
}

/* Card footer */

.form-control {
    padding: 2.5vw 1.5vw !important;
}

.form-group input {
    font-size: 1.3vw;
}


.footerIcon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    font-size: 1.8vw;
    color: rgba(185, 185, 185);
    border-right: 1px solid rgba(185, 185, 185, 0.438);
}

.footerIcon label {
    color: rgba(185, 185, 185);
    font-size: 1.8vw;
}

.footerIntro {
    font-size: .8vw;
    border-right: none;
    column-gap: 1vw;
}

.footerIntro span {
    font-size: 1.3vw;
    color: #000;
}





@media only screen and (min-width:1200px) {}

@media only screen and (max-width:990px) {

    .floatingbox {
        height: 9vw;
        background-position: 0px -5vw;
    }

    .floatingbox p {
        font-size: 1.7vw;
    }

    .bot-reply>p {
        font-size: 1.2vw !important;
    }

    .chatbox .bot-message p {
        font-size: 1.7vw;
    }

    .chatbox .visitor-message p {
        font-size: 1.7vw;
    }

    .responseRating {
        padding: .25vw 2.5vw;
    }

    .responseRating i {
        font-size: 2vw;
    }

    .responseRating i:hover {
        font-size: 2.2vw;
    }

    .dividerLine {
        padding: 0 1.4vw;
    }

    .form-group input {
        font-size: 1.7vw;
    }

    .footerIcon {
        font-size: 2vw;
    }

    .footerIcon label {
        font-size: 2vw;
    }

    .footerIntro {
        font-size: 1vw;
    }

    .footerIntro span {
        font-size: 1.5vw;
    }


}

@media only screen and (max-width:768px) {
    .card {
        width: 100% !important;
        border-radius: 0 !important;
    }

    .card-header {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
    }

    .floatingbox {
        height: 12vw;
        background-position: 0px -15vw !important;
    }

    .floatingbox p {
        font-size: 1.9vw;
    }


    .bot-reply>p {
        font-size: 1.7vw !important;
    }

    .chatbox .bot-message p {
        font-size: 2.5vw;
    }

    .chatbox .visitor-message p {
        font-size: 2.5vw;
    }

    .responseRating {
        padding: .2vw 2.5vw;
    }

    .responseRating i {
        font-size: 2.3vw;
    }

    .responseRating i:hover {
        font-size: 2.5vw;
    }

    .dividerLine {
        padding: 0 2vw;
    }

    .form-group input {
        font-size: 2.5vw;
    }

    .footerIcon {
        font-size: 2.8vw;
    }

    .footerIcon label {
        font-size: 2.8vw;
    }

    .footerIntro {
        font-size: 1.5vw;
    }

    .footerIntro span {
        font-size: 1.9vw;
    }



}

@media only screen and (max-width:576px) {
    .card {
        width: 100% !important;
        border-radius: 0 !important;
    }

    .card-header {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        justify-content: center;
    }

    .profileImg {
        display: flex;
        justify-content: center;
    }

    .card-header .flex-column {
        align-items: center;
    }

    .profileImg img {
        width: 30vw !important;
        overflow: hidden;
        border-radius: 50%;
    }

    .more {
        justify-content: center !important;
        gap: 1vw;
    }

    .more i {
        font-size: 4.5vw;
        border: 1px solid white;
        padding: 0 20vw;
        border-radius: 8px;
    }

    .floatingbox {
        height: 15vw;
        background-position: 0px -9.5vw !important;
    }

    .floatingbox p {
        font-size: 3.3vw;
    }

    .bot-reply>p {
        font-size: 2vw !important;
    }

    .chatbox .bot-message p {
        font-size: 3.5vw;
    }

    .chatbox .visitor-message p {
        font-size: 3.5vw;
    }

    .responseRating {
        padding: .1vw 2.5vw;
    }

    .responseRating i {
        font-size: 3.5vw;
    }

    .responseRating i:hover {
        font-size: 3.9vw;
    }

    .dividerLine {
        padding: 0 4.5vw;
    }

    .form-group input {
        font-size: 3.5vw;
    }

    .footerIcon {
        width: 33.3% !important;
        font-size: 5vw;
    }

    .footerIcon label {
        font-size: 5vw;
    }

    .footerIntro {
        padding: 2vw;
        font-size: 2vw;
        width: 100% !important;
    }

    .footerIntro span {
        font-size: 2.5vw;
    }

}